<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/home.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row pt-3">
            <% if(locals.product && product.length > 0){ %>
                <% product.forEach(product => { %>
                    <div class="col-md-6">
                        <div class="book-container">
                            <h3 class="book-title"> <%= product.title %> </h3>
                            <p class="book-url"> <%= product.url %> </p>
                            <p class="book-details"> <strong>Language:</strong> <%= product.language %> </p>
                            <p class="book-details"> <strong>Reading Level:</strong> <%= product.reading_level %> </p>
                            <p class="book-details"> <strong>Number of Pages:</strong> <%= product.number_of_pages %> </p>
                            <p class="book-details"> <strong>Interest Level:</strong> <%= product.interest_level %> </p>
                            <p class="book-details"> <strong>Genre:</strong> <%= product.genre %> </p>
                            <p class="book-details"> <strong>Subject:</strong> <%= product.subject %> </p>
                            <p class="book-details"> <strong>Copyright:</strong> <%= product.copyright %> </p>
                            <p class="book-details"> <strong>Imprint:</strong> <%= product.imprint %> </p>
                            
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="col-md-12">
                    <p class="no-books-message">There are no books to display!</p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>